name: 'C++ CI macos'

on:
  push:
    tags:
      - "macos_*"

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
        - run: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
        - run: brew install cmake
        - run: cmake . -DPATCH_VERSION=${{ github.run_number }} -DWITH_BOOST_TEST=ON
        - run: cmake --build .
        - run: cmake --build . --target test
        - run: cmake --build . --target package